{% if numbers is not empty %}
<div class="row">
    {{ paginator|raw }}
</div>
{% endif %}
<div class="row" id="actions-table">
    <div class="col-md-12">
        {% if numbers is not empty %}
            <table class="table table-bordered table-hover table-condensed" id="numbers">
                <thead>
                <tr>
                    <th>First name</th>
                    <th>Last name</th>
                    <th>Phone number</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for number in numbers %}
                    <tr>
                        <td class="vertical-middle">{{ number.firstName }}</td>
                        <td class="vertical-middle">{{ number.lastName }}</td>
                        <td class="vertical-middle">{{ number.phoneNumber }}</td>
                        <td class="vertical-middle">
                            <div class="btn-group">
                                <button
                                        type="button"
                                        class="btn btn-primary btn-sm"
                                        data-editPerson="{{ number.pid }}"
                                        >
                                    <span class="glyphicon glyphicon-user"></span> Edit person
                                </button>
                                <button
                                        type="button"
                                        class="btn btn-success btn-sm"
                                        data-editNumber="{{ number.nid }}"
                                        >
                                    <span class="glyphicon glyphicon-pencil"></span> Edit number
                                </button>
                                <button
                                        type="button"
                                        class="btn btn-danger btn-sm"
                                        data-remove="{{ number.nid }}"
                                        >
                                    <span class="glyphicon glyphicon-remove"></span> Remove number
                                </button>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            <h3>There are no numbers in the database</h3>
        {% endif %}
    </div>
</div>

