{% set baseUrl = '/phonebook/' %}
{% if pageCount is defined %}
    <ul id="pagination" class="pagination">
    {% if previous is defined %}
        <li><a href="{{ baseUrl ~ previous }}">&laquo;</a></li>
    {% else %}
        <li class="disabled"><span>&laquo;</span></li>
    {% endif %}
    {% for page in pagesInRange %}
        {% if page != current %}
        <li><a href="{{ baseUrl ~ page }}">{{ page }}</a></li>
        {% else %}
        <li class="active"><a href="{{ baseUrl ~ page }}">{{ page }}</a></li>
        {% endif %}
    {% endfor %}
    {% if next is defined %}
        <li><a href="{{ baseUrl ~ next }}">&raquo;</a></li>
    {% else %}
        <li class="disabled"><span>&raquo;</span></li>
    {% endif %}
    </ul>
{% endif %}